.header {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-brand-dark);
    color: var(--text-on-dark);
    padding-block: 0.625rem;
    padding-inline: 1.25rem;

    @media (max-width: 40rem) {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  .icon {
     color: var(--color-accent);
  }
  .span {
    font-weight: 500;
  }
}

.brand {
    font-size: 1.5rem;
}

.contact {
    font-size: 1rem;
}
